{% extends "methodologies/base.html" %}
{% load clean_pagination_url %}
{% block content %}
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Methodologies ({{ page_obj.paginator.count }})</h2>
                <form id="search-form-id" class="form-inline my-2 mb-lg-4 d-flex search-bar">
                    <input class="form-control mr-sm-2" type="search" name="title" placeholder="Search Posts" aria-label="Search">
                </form>
                <p>
                    As a courtesy to our clients we have posted our current guidelines below.
                </p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in object_list %}
                            <tr>
                                <th>
                                    <a href="{{ post.url }}" target="_blank">
                                        <img src="https://ejproxy.com/static/img/pdf.png"> {{ post.title }}
                                    </a>
                                </th>
                                <th>
                                    <span style="margin-right:1rem;">{{ post.date_added|date:"F j, Y" }}</span>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        <a href="{% if '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page=1{% else %}?page=1{% endif %}"><i class="fas fa-angle-double-left"></i></a>
                        <a href="{% if page_obj.has_previous and '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page={{ page_obj.previous_page_number }}{% elif page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i class="fas fa-angle-left"></i></a>
                        <span class="current">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>
                        <a href="{% if page_obj.has_next and '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page={{ page_obj.next_page_number }}{% elif page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"><i class="fas fa-angle-right"></i></a>
                        <a href="{% if '?title=' in request.get_full_path %}{{ request.get_full_path|clean_pagination_url }}&page={{ page_obj.paginator.num_pages }}{% else %}?page={{ page_obj.paginator.num_pages }}{% endif %}"><i class="fas fa-angle-double-right"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 5rem; position: relative;"></div>
</div>
{% endblock%}